npm-debug.log
digits/android/.gradle
digits/android/app/fabric.properties
digits/android/app/google-services.json
kakao/KakaoLoginAndroid/app/google-services.json
kakao/KakaoLoginServer/node_modules/
kakao/KakaoLoginAndroid/.gradle/
service-account.json
digits/android/build
digits/android/app/build

# copied from https://github.com/firebase/quickstart-android/blob/master/.gitignore
.gradle
local.properties
.idea
build/
.DS_Store
*.iml
*.apk
*.aar
*.zip
